@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  /* background: #171717; */
  /* @apply text-neutral-200 bg-neutral-800; */
  /* @apply text-neutral-200 bg-gradient-to-b from-gray-700 via-gray-900 to-black; */
  @apply text-neutral-200 bg-gradient-to-b from-neutral-800 via-neutral-900 to-neutral-950;
}

h1 {
  @apply text-2xl font-medium;
}

div.media-item a {
  @apply hover:underline;
}

.small-media-item {
  @apply flex flex-col pb-6 max-w-[13rem] gap-2 cursor-pointer;
}

.user-items-grid {
  @apply flex flex-wrap gap-16 mb-24 xs:grid xs:grid-cols-2 xs:gap-6;
}
.card svg,
h3 {
  @apply fill-neutral-200 text-neutral-200;
}

.card-grid {
  /* @apply flex flex-wrap gap-6 mb-24 xs:gap-2 xs:grid xs:grid-cols-2; */
  @apply gap-6 xs:gap-4 mb-24  grid xs:grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-5;
}

.card {
  /* @apply bg-black w-full aspect-square p-6 grid cursor-pointer transition-all hover:translate-x-2 hover:-translate-y-2; */
  /* @apply bg-neutral-800 cursor-pointer p-6 aspect-square grid transition-all hover:translate-x-2 hover:-translate-y-2 xs:min-w-[150px] w-52; */
  @apply bg-neutral-800 cursor-pointer p-6 aspect-square grid gap-2 transition-all hover:translate-x-2 hover:-translate-y-2 max-w-xs;
}

.search-results {
  @apply pb-4 flex flex-col z-20 overflow-y-scroll bg-black border-solid border-t-0 border-2 border-neutral-700 static w-full max-h-96;
}

.card:hover {
  box-shadow: -8px 8px 0 white;
}

.clipboard:hover {
  box-shadow: -4px 4px 0 white;
}

input[type="text"],
input[type="search"] {
  @apply px-4 py-2 bg-black text-neutral-300 h-full overflow-hidden border-solid border-2 border-neutral-700;
}

.btn {
  @apply py-2 px-4 w-fit bg-black text-neutral-300 cursor-pointer flex gap-2 items-center transition-all hover:translate-x-1 hover:-translate-y-1;
}
.btn:hover {
  box-shadow: -4px 4px 0 white;
}
